.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top: 20px;
    width: 16rem;
    height: 380px;
    margin-left: px;
    
}

.card img{
    height: 180px;
}

.tarjetas1 h2{
    text-align: center;
    margin-top: 50px;
}